body,html{width: 100%;height: 100%;position: relative;font-size: 12px;color: #555555;}
.numshu_btm{margin-top: 25px;}
.list_btm{border: 1px solid #CCD2D8;border-top: none;padding-bottom:30px;}
/*搜索区域*/
.main{width: 100%;overflow: hidden;padding: 45px 0px 0 30px;}
.head{width:100%;margin:0;border: 1px solid #CCD2D8;border-left: 2px solid #4bd368;padding-left: 8px;}
._head{border-bottom: none;}

/*-----选择地区------*/
body .demo-class{border-radius: 5px;}
body .demo-class .layui-layer-title{background:#f8f9fa ; color:#999999 ; border: none ;border-radius: 5px;}
body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7 ;border: none;text-align: center;}
body .demo-class .layui-layer-btn a{background:#4dd368 ;color: #FFFFFF ;border: none;width:110px;height: 30px;display: inline-block;line-height: 30px;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}
/*-----删除----*/

body .demo-class1{border-radius: 5px;}
body .demo-class1 .layui-layer-title{background:#f8f9fa ; color:#999999 ; border: none ;border-radius: 5px;}
body .demo-class1 .layui-layer-btn{border-top:1px solid #E9E7E7 ;border: none;text-align: center;} 
body .demo-class1 .layui-layer-content{text-align: center;line-height: 96px; height: 136px !important;}
body .demo-class1 .layui-layer-btn a{background:#4dd368 ;color: #FFFFFF ;border: none;width:110px;height: 30px;display: inline-block;line-height: 30px;}
body .demo-class1 .layui-layer-btn .layui-layer-btn1{background:#999;}

.state{padding: 0;padding-left: 18px;box-sizing: border-box;padding-top:30px;padding-bottom:15px; width: 100%;border: 1px solid #CCD2D8;margin: 0; border-top: none;}
/*-表格隔行换色--- */
.addlist tr:nth-child(even){background: #f5fbfc;}
td>._a_space{margin: 0 10px;}
.list_btm td{border-bottom: 1px solid #ddd; line-height: 29px !important;}
/*--翻页--*/
.btm_page{ margin: 0;padding-top: 20px;}
.pro_list_btm{margin:0;margin-top: 28px;}
.pro_list_btm p{margin: 0;line-height: 25px;}


/*------字体样式-------*/
h1,h2,h3,h4,h5,h6{font-size: 16px;line-height: 42px;margin: 0;font-weight: bold;}
strong,label{font-size: 14px; color: #555555;}

/*--------查询区头部样式---------------*/
.head{width:100%;margin:0;border: 1px solid #CCD2D8;border-left: 2px solid #4bd368;padding-left: 8px;}

