.highlevel{
	font-size: 16px;
}
.lowerlevel{
	font-size: 14px;
	margin-left: 15px;
}
.row_2{
	margin-left: 0 !important;
	padding: 0 !important;
	margin-top: 10px;
}
.jgname{
	display: block;
	width: 84px;
	height: 34px;
	line-height: 34px;
	padding-left: 20px;
	margin-right: 15px;
}
.alertjg{
	width: 170px;
	height: 34px;
}
.mar_t_20{
	margin-top: 20px;
}
.zs{
	color: #ccc;
}
.htitle{
	line-height: 34px;
}
.period{
	line-height: 100px;
}
.allperiod{
	height: 100px;
	line-height: 28px;
}
.theteacher{
	margin: 0 auto;
	display:block;
	width: 240px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.treeclick{background-color: #4bd368;color: #fff !important;}
/**/
.alertbox{padding: 20px 20px 20px 0;}
.alerthr{height: 34px;}
.mar_b_20{margin-bottom: 20px;}
.drwj{width: 170px;}



.combtn{
	height: 32px;
	line-height: 32px;
	padding: 0 40px;
	background: #03a8ed;
	color: #fff;
	border-radius: 5px;
	border:none;
	margin-right: 20px;
	display: inline-block;
	cursor: pointer;
}

.parentTree,.childTree{
	display: none;
}
/*---ztree---*/
.parentLefttree{
	position: relative;
	
}
.lefttree1{
	width: 400px;
	min-height: 250px;
	height: auto;
	position: absolute;
	left: 0;
	top: 32px;
	background: #FFFFFF;
	z-index: 999999999999999999999999;
	display: none;
}
.bg{
	display: inline-block;
	  width: 20px;
    height: 20px;
   
}
.newClass{
	max-width: 400px;
	margin-bottom: 20px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled]{
	background-color:#FFFFFF;
}
.oInputS{
	cursor: pointer !important;
	
	background: url(../../images/select-bg_03.png) no-repeat right center;
	 background-position-x: 95%;
}
