/*--搜索--*/
.search_0{width: 70px;height:28px;cursor: pointer;line-height: 28px;color: #FFFFFF; background: #4dd368;font-size: 14px;font-weight: bold;text-align: center;display: inline-block;margin-top:7px ;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius:4px ;margin-right: 20px;}
.search_01{color: #FFFFFF; background: #4dd368;font-size: 14px;font-weight: bold;text-align: center;display: inline-block;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius:4px ;}

/*-----删除-弹框：demo-class1---*/

body .demo-class1{border-radius: 5px;}
body .demo-class1 .layui-layer-title{background:#f8f9fa ; color:#999999 ; border: none ;border-radius: 5px;}
body .demo-class1 .layui-layer-btn{border-top:1px solid #E9E7E7 ;border: none;text-align: center;} 
body .demo-class1 .layui-layer-content{text-align: center;line-height: 96px; height: 136px !important;}
body .demo-class1 .layui-layer-btn a{background:#4dd368 ;color: #FFFFFF ;border: none;width:110px;height: 30px;display: inline-block;line-height: 30px;}
body .demo-class1 .layui-layer-btn .layui-layer-btn1{background:#999;}

/*-----选择地区------*/
body .demo-class{border-radius: 5px;}
body .demo-class .layui-layer-title{background:#f8f9fa ; color:#999999 ; border: none ;border-radius: 5px;}
body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7 ;border: none;text-align: center;}
body .demo-class .layui-layer-btn a{background:#4dd368 ;color: #FFFFFF ;border: none;width:110px;height: 30px;display: inline-block;line-height: 30px;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}

/*---整体页面距边距----*/
.main{width: 100%;overflow: hidden;padding: 45px 30px;}

/*---查询区头部--*/
.head{width:100%;margin:0;border: 1px solid #CCD2D8;border-left: 2px solid #4bd368;padding-left: 8px;}
/*----查询区选项------*/
.state{padding: 0;padding-left: 18px;box-sizing: border-box;padding-top:30px;padding-bottom:15px; width: 100%;border: 1px solid #CCD2D8;margin: 0; border-top: none;}


/*----列表数据区-------*/
.numshu_btm{margin-top: 25px;}
.list_btm{border: 1px solid #CCD2D8;border-top: none;padding-bottom:30px;}

/*-表格-*/
.addlist tr:nth-child(even){background: #f5fbfc;}
td>._a_space{margin: 0 10px;}
.list_btm td{border-bottom: 1px solid #ddd; line-height: 29px !important;}
/*-复选框样式-*/
.piaochecked {
position: relative;
left: 10px;
top: 10px;
width: 14px;
height: 14px;
float: left;
cursor: pointer;
margin-left: 10px;
text-align: center;
background-image:url(../../images/user/iname/check-off.png);/*---修改路径---*/
background-repeat: no-repeat;
background-position: 0px 0px;
}
/*-选中-*/
.on_check {
background-position: 0px 0px;
background-image:url(../../images/user/iname/check-on.png);/*---修改路径---*/
}
/*-input框-*/
.radioclass {
position: absolute;
top: -5px;
left: 0;
margin: 0;
padding: 0;
display: inline;
width: 14px;
height: 20px;
opacity: 0;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}
/*按钮行*/
.btngroup{
	margin: 10px 0 10px 12px;
}
.commonbtn{
	height: 32px;
	padding: 8px 20px;
	background: #03a8ed;
	color: #fff;
	border-radius: 5px;
	border:none;
	margin-right: 20px;
}
.lefttree{
	width:20%;
	overflow: auto;
	border:1px solid #CCD2D8;
}
.rightContent{
	width:75%;
}

/*padding margin*/
.pad_t_20{
	padding-top: 20px;
}
.pad_l_40{
	padding-left: 40px;
}

/*必填项标志*/
.warn{
    background:url(../../images/must_1_06.png) no-repeat left center;
}
/*超出宽度显示省略号*/
.overwidth{
    margin: 0 auto;
    display: block;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}











