<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>管理员用户管理</title>
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<style type="text/css">
			td{
				text-align: left; 
			}
		</style>
	</head>

	<body>
		<div class="main container-fluid" id="main">
			<div class="row head">
				<h3 class="col-xs-2">查询区</h3>
				<div class="col-sm-9 col-xs-3"></div>
			</div>
			<div class="row state">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="name" class="col-sm-1 control-label text-center">客户姓名</label>
						<div class="col-sm-2">
							<input type="text" id="name" name="" maxlength="20" v-model="name" class="form-control admin_name" />
						</div>

						<label for="phone" class="col-sm-1 control-label text-center">联系电话</label>
						<div class="col-sm-2">
							<input type="tel" id="phone" name="" maxlength="11" v-model="phone" class="form-control admin_phone" />
						</div>

						<label for="code" class="col-sm-1 control-label text-center">推荐码</label>
						<div class="col-sm-2">
							<input type="tel" id="code" name="" maxlength="11" v-model="recommanded" class="form-control admin_phone" />
						</div>
					</div>
					<div class="form-group">
						<label for="valid" class="col-sm-1 control-label text-center">性别</label>
						<div class="col-sm-2">
							<select name="" id="valid" class="form-control admin_state" v-model="sex" data-live-search="true">
								<option value="">全部</option>
								<option value='0'>男</option>
								<option value='1'>女</option>
							</select>
						</div>

						<label for="wechat" class="col-sm-1 control-label text-center">微信</label>
						<div class="col-sm-2">
							<input type="tel" id="wechat" name="" maxlength="11" v-model="wxNum" class="form-control admin_phone" />
						</div>

						<label for="nickname" class="col-sm-1 control-label text-center">昵称</label>
						<div class="col-sm-2">
							<input type="tel" id="nickname" name="" maxlength="11" v-model="nickName" class="form-control admin_phone" />
						</div>

						<div id="btnSearch" @click="search(1)" class="search_01 col-sm-2 col-sm-offset-1">查询</div>
					</div>

				</form>
			</div>
			<div class="row head numshu_btm">
				<!--<div class="btngroup">-->
				<!--<input class="commonbtn addAdmin" type="button" value="新建用户" />-->
				<!--</div>-->
			</div>
			<div class="numshu_btm" style="margin-top: 0;">
				<div class="list_btm">
					<div class="table-responsive">
						<table class="table table-hover addlist" style="text-align: center;">
							<thead>
								<tr>
									<th><strong>客户姓名</strong></th>
									<th><strong>联系电话</strong></th>
									<th><strong>性别</strong></th>
									<th><strong>昵称</strong></th>
									<th><strong>微信</strong></th>
									<th><strong>邮箱</strong></th>
									<th><strong>学校</strong></th>
									<th><strong>专业</strong></th>
									<th><strong>年级</strong></th>
									<th><strong>推荐码</strong></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(list,index) in datalists">
									<td>{{list.realname || '-'}}</td>
									<td>{{list.phone || '-'}}</td>
									<td>{{list.sex || '-'}}</td>
									<td>{{list.nickName || '-'}}</td>
									<td>{{list.wxNum || '-'}}</td>
									<td>{{list.email || '-'}}</td>
									<td>{{list.college || '-'}}</td>
									<td>{{list.major || '-'}}</td>
									<td>{{list.grade || '-'}}</td>
									<td>{{list.recommanded || '-'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">

						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
		<script type="text/javascript" src="../../plugin/paging/query.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
		<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
		<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../plugin/vue/vue.js"></script>

		<script>
			var evalText, vvm, token;
			$(function() {
				// search();
				vvm = new Vue({
					el: '#main',
					data: {
						datalists: [],
						page: 1,
						size: 10,
						nickName: '',
						wxNum: '',
						sex: '',
						recommanded: '',
						phone: '',
						name: ''
					},
					created: function() {
						this.search();
					},
					methods: {
						search: function(d) {
							var _this = this;
							var sdata = {
								page: _this.page,
								size: _this.size,
								token: token
							}
							if(d) {
								sdata.nickName = _this.nickName;
								sdata.wxNum = _this.wxNum;
								sdata.sex = _this.sex;
								sdata.recommanded = _this.recommanded;
								sdata.phone = _this.phone;
								sdata.name = _this.name;
							}
							$('#pageToolbar').html("");
							$.ajax({
								type: "get",
								url: org_url + dataUrl.users + "?time=" + new Date().getTime(),
								data: sdata,
								async: true,
								dataType: "json",
								xhrFields: {
									withCredentials: true
								},
								crossDomain: true,
								success: function(data) {
									_this.dialogInfo(data);
									$('#pageToolbar').Paging({
										pagesize: 10,
										count: data.info.data.total,
										toolbar: true,
										hash: true,
										callback: function(page, size, count) {
											sdata.page = page;
											sdata.size = size;
											$.ajax({
												type: "get",
												url: org_url + dataUrl.users + "?time=" + new Date().getTime(),
												data: sdata,
												async: true,
												xhrFields: {
													withCredentials: true
												},
												dataType: "json",
												crossDomain: true,
												success: function(data) {
													console.log(sdata)
													_this.dialogInfo(data);
												}
											});
										},
										changePagesize: function(ps) {
											sdata.page = 1;
											sdata.size = ps;
											$.ajax({
												type: "get",
												url: org_url + dataUrl.users + "?time=" + new Date().getTime(),
												data: sdata,
												success: function(data) {
													_this.dialogInfo(data);
												}
											});
										}
									});
								}
							});
						},
						dialogInfo: function(data) {
							if(data.info.state === 0) {
								this.datalists = data.info.data.list;
							} else if(data.info.state === -1) {
								layer.alert(data.info.msg, {
									yes: function() {
										parent.location.href = "../../enter.html";
									},
									cancel: function() {
										parent.location.href = "../../enter.html";
									}
								});
								return false;
							}
						}
					}
				})
			})
		</script>
	</body>

</html>