<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
		<link rel="stylesheet" type="text/css" href="../../css/zTreeStyle/zTreeStyle.css" />

		<style type="text/css">
			body {
				padding: 20px;
			}
			
			.none {
				display: none;
			}
			
			[v-cloak] {
				display: none;
			}
			
			.list_btm {
				padding-top: 20px;
			}
			
			.addknowledge {
				color: #000;
				text-decoration: underline;
			}
			
			.ztree1 {
				margin-top: 0;
				width: 180px;
				height: 300px;
				border: 1px solid #617775;
				background: #f0f6e4;
				width: 220px;
				height: 360px;
				overflow-y: scroll;
				overflow-x: auto;
				"

			}
			blockquote{border: 0;}
			.list_btm{border: 0;}
			.btngroup{
				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="main container-fluid" style="overflow:inherit;padding: 0;border: 0;" id="main">
			
			<div class="list_btm">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span style="padding-left: 20px;">营销类型：</span>
						</label>
						<div class="col-sm-8">
							<select class="form-control admin_state" v-model="bannerType" data-live-search="true">
								<option value="1" selected>banner</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span style="padding-left: 20px;">标题：</span>
						</label>
						<div class="col-sm-8">
							<input class="form-control" type="" v-model="title" name="" id="" v-model="videoname" maxlength="50" placeholder="请输入标题" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span style="padding-left: 20px;">链接：</span>
						</label>
						<div class="col-sm-8">
							<input class="form-control" type="" v-model="url" name="" id="" v-model="videoname" maxlength="50" placeholder="请输入链接" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span style="padding-left: 20px;">开始时间：</span>
						</label>
						<div class="col-sm-8">
							<input class="form-control" type="" v-model="startTime" name="" id="" v-model="videoname" maxlength="50" placeholder="请输入礼品积分" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span style="padding-left: 20px;">结束时间：</span>
						</label>
						<div class="col-sm-8">
							<textarea class="form-control" type="" v-model="endTime" name="" id="" v-model="videoname" maxlength="50" placeholder="请输入礼品描述"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span style="padding-left: 20px;">顺序：</span>
						</label>
						<div class="col-sm-8">
							<select class="form-control admin_state" v-model="sort" data-live-search="true">
								<option value="1">1</option>
								<option value="1">2</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">状态：</span>
						</label>
						<div class="col-sm-8">
							<input type="radio" name="status" v-model="state" value="1" id="on"><label for="on">启用</label>
							<input type="radio" name="status" v-model="state" value="0" id="off"><label for="off">禁用</label>
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">图片：</span>
						</label>
						<div class="col-sm-8">
							<input type="file" name="" id="fileimg" value="" @change="ImgFile($event)" style="display: none;" />
							<button class="btn btn-sm btn-default videoimg" @click="uFile">浏览</button>
							<div style="margin-top: 10px;width: 268px;height: 188px;border: 1px solid #eee;position: relative;">
								<img :src="imgsrc" width="268" height="188" alt="图片预览区域" />
								<div class="progress progress-img none" style="margin-top: 5px;position: absolute;left: 0;bottom: 0;width: 100%;">
									<div id="progress-bar-img" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">0%
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="btngroup">
					<button class="commonbtn save" type="button" @click="save($event)">保存</button>
					<button class="commonbtn back" @click="back($event)" type="button">返回</button>
				</div>
			</div>
		</div>
		<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
			<ul id="treeDemo1" class="ztree ztree1"></ul>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script src="../../js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
	<script src="http://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js"></script>
  <script type="text/javascript">
    var vvm = null,
      edit = urlParse().id;
      console.log(urlParse())
    $(function() {
      vvm = new Vue({
        el: '#main',
        data: {
          bannerType: 1,
          title: '',
          url: '',
          startTime: '',
          endTime: '',
          sort: '',
          state: 1,
          imgsrc: '',
          upimgsrc: ''
        },
        created: function() {
          var _this = this;
          if (edit) {
            $.ajax({
              type:"get",
              url: org_url + dataUrl.banner + "?time=" + new Date().getTime() + '&title=' + urlParse().name + '&token=' + token,
              success: function(data) {
                _this.dialogInfo(data);
                var list = data.info.data.list[0];
                _this.title = list.title;
                _this.tname = list.teacherName;
                _this.starttime = list.startTime;
                _this.tdesc = list.teacherRemark;
                _this.cdesc = list.courseRemark;
                _this.imgsrc = list.thumbnailUrl;
                _this.chref = list.courseUrl;
              }
            });
          }
        },
        methods: {
          save: function() {
            var _this = this;
            var udata = {
              token: token,
              bannerType: '',
              title: this.title,
              url: this.url,
              startTime: this.starTime,
              endTime: this.endTime,
              sort: this.sort,
              state: this.state,
              thumbnailUrl: this.upimgsrc
            }
            if (edit) {
              udata.id = urlParse().id;
            }
            console.log(udata)
//            return
            $.ajax({
              type:"post",
              url: org_url + dataUrl.banner,
              data: udata,
              success: function(data) {
                console.log(data)
                layer.alert(data.info.msg,function() {
                  window.location.href = 'banner.html'
                })
              }
            });
          },
          back: function() {
            window.location.href = 'banner.html';
          },
          ImgFile: function(e) {
            var _this = this;
            var formData = new FormData();
            formData.append('file', $(e.target)[0].files[0]);
            $.ajax({
              url: org_url + dataUrl.bannerUpImg + '?token=' + token,
              type: 'POST',
              cache: false,
              data: formData,
              processData: false,
              contentType: false,
              success: function(data) {
                console.log(data);
                _this.dialogInfo(data);
                _this.imgsrc = data.info.data.url;
                _this.upimgsrc = data.info.data.relativeUrl;
              },
              error: function(data) {
                console.log(data);
              }
            });
          },
          uFile: function() {
            $('#fileimg').click()
          },
          dialogInfo: function(data) {
            if(data.info.state === 0) {
              this.datalists = data.info.data.list;
            } else if(data.info.state === -1) {
              layer.alert(data.info.msg, {
                yes: function() {
                  parent.location.href = "../../newenter.html";
                },
                cancel: function() {
                  parent.location.href = "../../newenter.html";
                }
              });
              return false;
            }
          }
        }
      })
    })
  </script>
</html>