<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>管理员用户管理</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
    <link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../plugin/paging/paging.css" />
    <link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="../../css/common/common_list.css" />
    <link rel="stylesheet" href="../../css/common/common.css" />
    <style type="text/css">
      td{
        text-align: left; 
      }
    </style>
  </head>

  <body>
    <div class="main container-fluid" id="main">
      <div class="row head" style="padding: 6px 0;">
        <h3 class="col-xs-2">查询区</h3>
        <div class="col-sm-9 col-xs-3"></div>
      </div>

      <div class="row head numshu_btm">
        <div class="btngroup">
          <input class="commonbtn addAdmin" @click="addSub(0)" type="button" value="添加文章" />
        </div>
      </div>
      <div class="numshu_btm" style="margin-top: 0;">
        <div class="list_btm">
          <div class="table-responsive">
            <table class="table table-hover addlist" style="text-align: center;">
              <thead>
                <tr>
                  <th><strong>文章类型</strong></th>
                  <th><strong>父类ID</strong></th>
                  <th><strong>是否有效</strong></th>
                  <th><strong>操作</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(news,index) in newsLists">
                  <td>{{news.name}}</td>
                  <td>{{news.id}}</td>
                  <td>{{news.state === 0 ? '无效' : '有效'}}</td>
                  <td>
                    <a href="javascript:;" @click="edit(news.id)">编辑</a>
                    <a href="javascript:;" @click="del(news.id)">删除</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row pro_list_btm">
            <div class="col-xs-6 col-sm-3 text-center">

            </div>
            <div class="col-xs-7 col-sm-9">
              <div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="../../js/doT.min.js"></script>
  <script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
  <script type="text/javascript" src="../../plugin/paging/query.js"></script>
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="../../plugin/paging/paging.js"></script>
  <script type="text/javascript" src="../../plugin/layer/layer.js"></script>
  <script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../js/vue/vue.js" type="text/javascript" charset="utf-8"></script>

  <script>
    var vvm,
      ajaxurl = org_url + dataUrl.newclassify;

    $(function() {
      vvm = new Vue({
        el: '#main',
        data: {
          newsLists: [],
          page: 1,
          size: 10,
          title: ''
        },
        created: function() {
          this.search();
        },
        methods: {
          addSub: function(num) {
            window.location.href = 'add_edit_home.html';
          },
          edit: function(id, name) {
            console.log(name)
            window.location.href = 'add_edit_home.html?id=' + id + '&name=' + name;
          },
          del: function(id, i) {
            var _this = this;
            layer.open({
              title: "",
              content: '确定删除该吗？',
              skin: 'layui-layer-lana',
              shadeClose: 'true',
              btn: ['确定', "取消"],
              yes: function(index, layero) {
                $.ajax({
                  type: "post",
                  url: ajaxurl + '/' + id + '?token=' + token,
                  success: function(data) {
                    layer.alert(data.info.msg, function(index) {
                      _this.shoplists.splice(i, 1);
                      layer.close(index);
                    })
                  }
                });
                layer.close(index);
              },
              btn2: function(index, layero) {
                //按钮【按钮二】的回调
                layer.close(index);
              }
            });
          },
          search: function(d) {
            var _this = this;
            var sdata = {
              page: _this.page,
              size: _this.size,
              token: token
            }
            if(d) {
              sdata.title = _this.title;
            }
            $('#pageToolbar').html("");
            $('#pageToolbar1').html("");
            $.ajax({
              type: "get",
              url: ajaxurl + "?time=" + new Date().getTime(),
              data: sdata,
              async: true,
              dataType: "json",
              xhrFields: {
                withCredentials: true
              },
              crossDomain: true,
              success: function(data) {
                _this.dialogInfo(data);
                var idname = '#pageToolbar';
                $(idname).Paging({
                  pagesize: 10,
                  count: data.info.data.total,
                  toolbar: true,
                  hash: true,
                  callback: function(page, size, count) {
                    sdata.page = page;
                    sdata.size = size;
                    $.ajax({
                      type: "get",
                      url: ajaxurl + "?time=" + new Date().getTime(),
                      data: sdata,
                      async: true,
                      xhrFields: {
                        withCredentials: true
                      },
                      dataType: "json",
                      crossDomain: true,
                      success: function(data) {
                        console.log(sdata);
                        _this.dialogInfo(data);
                      }
                    });
                  },
                  changePagesize: function(ps) {
                    sdata.page = 1;
                    sdata.size = ps;
                    $.ajax({
                      type: "get",
                      url: ajaxurl + "?time=" + new Date().getTime(),
                      data: sdata,
                      success: function(data) {
                        _this.dialogInfo(data);
                      }
                    });
                  }
                });
              }
            });
          },
          dialogInfo: function(data) {
            if(data.info.state === 0) {
              this.newsLists = data.info.data.list;
            } else if(data.info.state === -1) {
              layer.alert(data.info.msg, {
                yes: function() {
                  parent.location.href = "../../newenter.html";
                },
                cancel: function() {
                  parent.location.href = "../../newenter.html";
                }
              });
              return false;
            }
          }
        }
      })
    })
  </script>

</html>