body .demo-class .layui-layer-title{background:#f7f9fa !important; color:#666666 !important; border: none !important;}
body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7 !important;}
body .demo-class .layui-layer-btn a{background:#4dd368 !important;color: #FFFFFF !important;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#999;}